language: cpp

# By default, we use Ubuntu Xenial
os: linux
dist: xenial

matrix:
  include:

    #########################
    #     GCC on Linux      #
    #########################

    # GCC 7
    - env: COMPILER=g++-7 BUILD_TYPE=Debug
      addons: &gcc7
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-7

    - env: COMPILER=g++-7 BUILD_TYPE=Release
      addons: *gcc7

    # GCC 8
    - env: COMPILER=g++-8 BUILD_TYPE=Debug
      addons: &gcc8
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-8

    - env: COMPILER=g++-8 BUILD_TYPE=Release
      addons: *gcc8

    #########################
    #    Clang on Linux     #
    #########################

    # Clang 5.0
    - env: COMPILER=clang++-5.0 BUILD_TYPE=Debug
      addons: &clang5
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-xenial-5.0
            - sourceline: "deb http://apt.llvm.org/xenial/ llvm-toolchain-xenial-5.0 main"
              key_url: "https://apt.llvm.org/llvm-snapshot.gpg.key"
          packages:
            - clang-5.0
            - g++-7

    - env: COMPILER=clang++-5.0 BUILD_TYPE=Release
      addons: *clang5

    # Clang 6.0
    - env: COMPILER=clang++-6.0 BUILD_TYPE=Debug
      addons: &clang6
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-xenial-6.0
            - sourceline: "deb http://apt.llvm.org/xenial/ llvm-toolchain-xenial-6.0 main"
              key_url: "https://apt.llvm.org/llvm-snapshot.gpg.key"
          packages:
            - clang-6.0
            - g++-7

    - env: COMPILER=clang++-6.0 BUILD_TYPE=Release
      addons: *clang6

    # Clang 7.0
    - env: COMPILER=clang++-7 BUILD_TYPE=Debug
      addons: &clang7
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-xenial-7
            - sourceline: "deb http://apt.llvm.org/xenial/ llvm-toolchain-xenial-7 main"
              key_url: "https://apt.llvm.org/llvm-snapshot.gpg.key"
          packages:
            - clang-7
            - g++-7

    - env: COMPILER=clang++-7 BUILD_TYPE=Release
      addons: *clang7

    # Clang 8.0
    - env: COMPILER=clang++-8 BUILD_TYPE=Debug
      addons: &clang8
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-xenial-8
            - sourceline: "deb http://apt.llvm.org/xenial/ llvm-toolchain-xenial-8 main"
              key_url: "https://apt.llvm.org/llvm-snapshot.gpg.key"
          packages:
            - clang-8
            - g++-8

    - env: COMPILER=clang++-8 BUILD_TYPE=Release
      addons: *clang8

    #########################
    #    Clang on macOS     #
    #########################

    # XCode 10.2
    - env: COMPILER=clang++ BUILD_TYPE=Debug
      os: osx
      osx_image: xcode10.2
      compiler: clang

    - env: COMPILER=clang++ BUILD_TYPE=Release
      os: osx
      osx_image: xcode10.2
      compiler: clang

    #########################
    #    MSVC on Windows    #
    #########################

    # MSVC 14.1
    - env: COMPILER=cl MSVC_VER="2017 Win64" MSVC_ID=15 BUILD_TYPE=Debug
      os: windows

    - env: COMPILER=cl MSVC_VER="2017 Win64" MSVC_ID=15 BUILD_TYPE=Release
      os: windows

    # MSVC 15.0
    - env: COMPILER=cl MSVC_VER="2019" MSVC_ID=16 BUILD_TYPE=Debug
      os: windows

    - env: COMPILER=cl MSVC_VER="2019" MSVC_ID=16 BUILD_TYPE=Release
      os: windows

install:
  - export CXX=${COMPILER}
  # Visual Studio Build Tools installation on Windows
  - |
    if [ "${TRAVIS_OS_NAME}" = "windows" ]; then
      if [ "${MSVC_ID}" = "16" ]; then
        choco install -y visualstudio2019buildtools --package-parameters "--add Microsoft.VisualStudio.Component.VC.Tools.x86.x64"
        choco upgrade cmake.install
      fi
    fi

before_script:
  - cd "${TRAVIS_BUILD_DIR}"
  - mkdir build
  - cd build

script:
  - |
    if [ "${TRAVIS_OS_NAME}" = "windows" ]; then
      cmake .. -G "Visual Studio ${MSVC_ID} ${MSVC_VER}" -T host=x64 -DWITH_UNIT_TESTS=1
    else
      cmake .. -DWITH_UNIT_TESTS=1
    fi
  - cmake --build . --config ${BUILD_TYPE}
  - ctest -C ${BUILD_TYPE}
